.navegacao ul {
    list-style: none;
    display: flex;
    padding: 0;
    scale: 2;
    justify-content: center;
}
.navegacao li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: blue;
    border: 1px solid gray;
    margin-left: -1px;
}
.navegacao li:first-child a{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.navegacao li:last-child a{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.navegacao a:hover{
    background-color: lightgray;
    color: #0056b3
}
